
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin-top: 4%;
}

/* jumbotron/encabezado */
h1{
    text-align: center;
}

h2{
    text-align: center;
}

/* cotainer cards */
.card {
    margin: auto;
}

/* container formularios */
.form-select{
    margin: auto;
    margin-top: 3%;
    width: 60% !important; 
}