@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: rgb(253, 215, 222);
}

.logo {
    width: 15%;
    display: block;
    margin: auto;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
    font-family: 'Pacifico', cursive;
}

body {
    position: relative;
    padding-bottom: 6%;
    min-height: 100vh;
}

p {
    margin: 1% auto;
}

/* footer */
footer {
    background-color: #fcd6dd;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

/* index.html */

.vistaPreviaPedido {
    margin-top: 4%;
    text-align: center;
    font-weight: 800;
    font-size: 1.5rem;
    background-color: #fcd6dd;
    width: 30%;
}

.verPedido {
    display: block;
    margin: auto;
    color: black;
    background-color: #fffed5;
    font-weight: 600;
    font-size: medium;
    transition: .3s;
}

.verPedido:hover {
    background-color: #faf9b4;
    font-weight: 700;
    transition: .3s;
}

.contenedor-tarjetas {
    max-width: 1024px;
}
.card {
    /* background-color: #fcd6dd; */
    margin: 1%;
    display: inline-block;
    border: none;
}

.card p {
    text-align: center;
}

.card-title {
    text-align: center;
    font-family: 'Pacifico', cursive;
    background-color: #fcd6dd;
    width: 80%;
    margin: auto;
}

.btnAgregar {
    font-weight: 600;
    color: black;
    background-color: #fffed5;
    border: none;
    display: table;
    margin: auto;
    border-radius: 50%;
}

.btnAgregar:hover {
    color: black;
    background-color: #faf9b4; 
    font-weight: 700;
}

/* pedido.html */
.contenedor-pedido {
    margin: 5% auto;
    display: flex;
    justify-content: space-evenly;
}

table {
    margin: auto;
    width: 80%;
}

th {
    font-family: 'pacifico';
    text-align: center;
    background-color: rgb(253, 215, 222);
}

td {
    text-align: center;
    padding: 1%;
}

.total {
    margin-top: 4%;
    text-align: center;
    font-weight: 800;
    font-size: 1.5rem;
    background-color: #fcd6dd;
    width: 35%;
}

.texto {
    text-align: center;
}

.btnEliminar {
    border: none;
    background-color: white;
}

.btnEliminar img {
    width: 65%;
    transition: .3s;
}
.btnEliminar img:hover {
    width: 67%;
    transition: .3s;
}

.seguirPidiendo {
    background-color: #fffed5;
    border: none;
    color: black;
    font-weight: 600;
}

.seguirPidiendo:hover {
    background-color: #faf9b4;
    font-weight: 700;
    color: black;
}

.confirmarPedido {
    background-color: #fffed5;
    border: none;
    color: black; 
    font-weight: 600;
}

.confirmarPedido:hover {
    background-color: #faf9b4;
    font-weight: 700;
    color: black;
}

.cancelarPedido {
    background-color: #fffed5;
    border: none;
    color: black;  
    font-weight: 600;
}

.cancelarPedido:hover {
    background-color: #faf9b4;
    font-weight: 700;
    color: black;
}